@model IEnumerable<movieDBminiproj.Models.CastModel>

@{
    ViewBag.Title = "MovieByPerson";
}

<h2>MovieByPerson</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col">
            Poszter
        </th>
        <th>
            Cím
        </th>
        <th>
            Karakter
        </th>

        <th>
            Kiadás dátuma
        </th>
        <th>
            Átlagszavazat
        </th>
        <th></th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{string fullPath = "https://image.tmdb.org/t/p/w500" + @Html.DisplayFor(modelItem => item.Poster_path).ToString(); }
                <img src="@fullPath" style="width: 80px" />
            </td>
            <td>
                @Html.ActionLink(item.Title, "MovieDetails", "Search", new { search = item.Id }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vote_average)
            </td>
            @if (Session["userId"] != null)
            {
                <td>
                    @{var style = (item.IsExist) || (item.IsExistWatched) ? "pointer-events:none; opacity: 0.5; color:dimgray !important" : "";
                    }

                    <a href="@Url.Action("SaveToWatchList", "Watchlist", new { id = item.Id }, null)" class="btn" style="@style" ;>
                        <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="Listához adom" aria-hidden="false" style="font-size:20pt">
                        </span>
                    </a>
                </td>
                <td>
                    @{var stylewatched = (item.IsExistWatched) ? "pointer-events:none; opacity: 0.5; color: dimgray !important" : "";
                    }
                    <a href="@Url.Action("SaveToWatchedList", "Watchlist", new { id = item.Id }, null)" class="btn" style="@stylewatched">

                        <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="Láttam" aria-hidden="false" style="font-size:20pt">
                        </span>
                    </a>
                </td>
            }
        </tr>
    }
</table>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
